[Unit]
Description=SixtySharesWhiskey Upload & Chat Server
After=network.target

[Service]
ExecStart=/srv/sixtyshareswhiskey/venv/bin/python /srv/sixtyshareswhiskey/app.py
WorkingDirectory=/srv/sixtyshareswhiskey
Restart=always
User=RAND_USER
Group=RAND_GROUP

[Install]
WantedBy=multi-user.target
